body {
    background-image: url('climb.jpg');
    background-size: cover;
  }
.adjust{
    text-align: center;
    padding-top: 178px;
    align-items: center;
}

h1{
    color:rgb(184, 110, 14);
}
p{
   size:20px;
   color:white;
   width:100px;word-wrap:

}

    